<ul>
    <a href="/students">Students</a>
    <a href="/schools">Schools</a>
</ul>

<% #views/student/show.html.erb %>

<h1> <%= @student.name %> </h1>
<div>
<p><b>Student Id Number: <%= @student.id %><p/>
<p> Eligible for free lunch: <%= @student.freelunch %></b></p>
</div>
